body{
    background-color: cyan;
}
.join{
    
    border: 1px solid white;
    background: white;
    border-radius:5px;
}
.down{
    border: 1px solid hsl(179, 62%, 43%);
    border-radius: 0 0 5px 5px;
}
.whyus{
    font-size:14px;
    color: rgba(255, 255, 255, 0.61);
}
.btn-secondary{
    border:1px solid hsl(71, 73%, 54%) !important;
    background-color: hsl(71, 73%, 54%) !important;
    border-radius: 5px;
}
.btn-secondary:hover{
    background-color: hsla(71, 73%, 54%, 0.781) !important;
}
